 .u-section-1 {
  filter: none;
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 43, 20, 0.9), rgba(2, 157, 67, 0.8)), url('/images/Pngtreewhitesimpletexturebackground_1323742.jpg');
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 903px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 189px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-image-1 {
  width: 188px;
  height: 188px;
  margin: auto auto 0;
}

.u-section-1 .u-text-1 {
  transition-duration: 0.5s;
  font-size: 3.75rem;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 14px 0 0;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 98px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-1 .u-container-layout-2 {
  padding: 7px 30px;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  font-family: Poppins;
  text-shadow: 2px 2px 8px rgba(0,43,20,0.4);
  font-weight: 600;
  margin: 0 37px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 200px;
  transition-duration: 1s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-family: Poppins;
  border-style: solid;
  text-transform: none;
  box-shadow: 2px 2px 8px 0px rgba(0,43,20,0.3);
  margin: 0 auto;
  padding: 10px 223px 10px 221px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 156px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 13px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 157px;
  }

  .u-section-1 .u-image-1 {
    width: 157px;
    height: 157px;
    margin-top: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 64px;
    margin-bottom: 32px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-1 {
    padding-left: 190px;
    padding-right: 190px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 118px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.6666666666666665rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    padding-top: 9px;
    padding-right: 141px;
    padding-left: 140px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 124px;
  }

  .u-section-1 .u-image-1 {
    width: 124px;
    height: 124px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -2px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 7px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 50px;
    margin-bottom: 52px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 104px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    font-size: 1rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 78px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    letter-spacing: 0px;
    font-weight: 600;
    padding: 7px 47px 7px 46px;
  }
}

.u-section-1 .u-layout-cell-3,
.u-section-1 .u-layout-cell-3:before,
.u-section-1 .u-layout-cell-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3:hover {
  transform: translateX(0px) translateY(-10px) !important;
}

.u-section-1 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3.hover {
  transform: translateX(0px) translateY(-10px) !important;
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 43, 20, 1), rgba(0, 43, 20, 1));
  background-size: cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 996px;
}

.u-section-2 .u-text-1 {
  font-family: Poppins;
  font-weight: 800;
  text-shadow: 2px 2px 8px rgba(0,43,20,0.4);
  transition-duration: 1s;
  font-size: 3rem;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 55px 0 0;
}

.u-section-2 .u-text-2 {
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 37px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 253px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  animation-timing-function: ease-in-out;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-1 {
  --radius: 50px;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-family: Poppins;
  font-weight: 700;
  text-transform: none;
  border-style: solid;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  margin: 29px auto 0;
  padding: 8px 93px 9px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 253px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  animation-timing-function: ease-in-out;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  --radius: 50px;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-family: Poppins;
  font-weight: 700;
  text-transform: none;
  border-style: solid;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  margin: 29px auto 0;
  padding: 8px 61px 9px 60px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 253px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 19px;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  animation-timing-function: ease-in-out;
  margin: 0 auto;
  padding: 3px;
}

.u-section-2 .u-btn-3 {
  --radius: 50px;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-family: Poppins;
  font-weight: 700;
  text-transform: none;
  border-style: solid;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  margin: 30px auto 0;
  padding: 8px 63px 8px 62px;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 240px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 7px;
}

.u-section-2 .u-icon-4 {
  width: 64px;
  height: 64px;
  animation-timing-function: ease-in-out;
  margin: 0 auto;
  padding: 6px;
}

.u-section-2 .u-btn-4 {
  --radius: 50px;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-family: Poppins;
  font-weight: 700;
  text-transform: none;
  border-style: solid;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  margin: 38px auto 0;
  padding: 9px 61px 9px 60px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 240px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-2 .u-icon-5 {
  width: 64px;
  height: 64px;
  animation-timing-function: ease-in-out;
  margin: 0 auto;
}

.u-section-2 .u-btn-5 {
  --radius: 50px;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-family: Poppins;
  font-weight: 700;
  text-transform: none;
  border-style: solid;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  margin: 38px auto 0;
  padding: 9px 56px 9px 55px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 240px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 29px;
}

.u-section-2 .u-icon-6 {
  width: 64px;
  height: 64px;
  animation-timing-function: ease-in-out;
  margin: 0 auto;
}

.u-section-2 .u-btn-6 {
  --radius: 50px;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-family: Poppins;
  font-weight: 700;
  text-transform: none;
  border-style: solid;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  margin: 38px auto 0;
  padding: 9px 66px 10px 65px;
}

.u-section-2 .u-layout-wrap-3 {
  margin-top: 0;
  margin-bottom: 30px;
  width: 100%;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 240px;
}

.u-section-2 .u-container-layout-7 {
  padding: 21px 30px;
}

.u-section-2 .u-icon-7 {
  width: 64px;
  height: 64px;
  animation-timing-function: ease-in-out;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-7 {
  --radius: 50px;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-family: Poppins;
  font-weight: 700;
  text-transform: none;
  border-style: solid;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  margin: 39px auto 0;
  padding: 8px 116px 9px;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 240px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 30px 25px;
}

.u-section-2 .u-icon-8 {
  width: 64px;
  height: 64px;
  animation-timing-function: ease-in-out;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-8 {
  --radius: 50px;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-family: Poppins;
  font-weight: 700;
  text-transform: none;
  border-style: solid;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  margin: 39px auto 0;
  padding: 8px 112px 9px;
}

.u-section-2 .u-layout-cell-9 {
  min-height: 240px;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-btn-9 {
  font-size: 1.5rem;
  letter-spacing: 0px;
  font-family: Poppins;
  font-weight: 200;
  transition-duration: 0.5s;
  text-transform: none;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 93px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 868px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 36px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 209px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 209px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 209px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 198px;
  }

  .u-section-2 .u-btn-4 {
    padding-top: 8px;
    padding-right: 60px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 198px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 198px;
  }

  .u-section-2 .u-container-layout-6 {
    border-style: solid;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-bottom: 36px;
    width: auto;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 198px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 198px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 198px;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 44px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 39px;
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: -10px;
    margin-right: -10px;
    padding-right: 61px;
    padding-bottom: 8px;
    padding-left: 60px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-btn-2 {
    padding-bottom: 8px;
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-3 {
    padding: 2px;
  }

  .u-section-2 .u-btn-3 {
    padding-top: 7px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-wrap-2 {
    position: relative;
    width: auto;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 18px;
  }

  .u-section-2 .u-btn-4 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-btn-5 {
    padding-top: 8px;
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-6 {
    margin-top: 16px;
    padding: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-left: -9px;
    margin-right: -9px;
    padding-bottom: 9px;
    padding-left: 33px;
    padding-right: 33px;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-top: 1px;
    margin-bottom: 29px;
    position: relative;
    width: auto;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-7 {
    margin-top: 6px;
  }

  .u-section-2 .u-btn-7 {
    margin-left: -10px;
    margin-right: -10px;
    padding-right: 84px;
    padding-bottom: 8px;
    padding-left: 83px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-2 .u-btn-8 {
    margin-left: -10px;
    margin-right: -10px;
    padding-right: 80px;
    padding-bottom: 8px;
    padding-left: 79px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 55px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 30px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-top: 0;
    margin-bottom: 60px;
    width: auto;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-8 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: 26px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 10px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 149px;
  }

  .u-section-2 .u-icon-1 {
    width: 30px;
    height: 30px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.625rem;
    font-weight: 400;
    padding: 6px 40px 7px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 149px;
  }

  .u-section-2 .u-icon-2 {
    width: 30px;
    height: 30px;
  }

  .u-section-2 .u-btn-2 {
    font-size: 0.625rem;
    padding: 6px 18px 7px 17px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 135px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-2 .u-icon-3 {
    width: 30px;
    height: 30px;
    padding: 3px;
  }

  .u-section-2 .u-btn-3 {
    font-size: 0.625rem;
    padding: 6px 18px 7px 17px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 142px;
  }

  .u-section-2 .u-icon-4 {
    width: 30px;
    height: 30px;
    padding: 3px;
  }

  .u-section-2 .u-btn-4 {
    font-size: 0.625rem;
    padding: 6px 16px 7px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 142px;
  }

  .u-section-2 .u-icon-5 {
    width: 30px;
    height: 30px;
    margin-top: 4px;
    padding: 0;
  }

  .u-section-2 .u-btn-5 {
    font-size: 0.625rem;
    padding: 6px 12px 7px 11px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 179px;
  }

  .u-section-2 .u-icon-6 {
    width: 30px;
    height: 30px;
    margin-top: 0;
  }

  .u-section-2 .u-btn-6 {
    font-size: 0.625rem;
    margin-top: 41px;
    padding: 6px 20px 7px 19px;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-bottom: 19px;
    width: auto;
  }

  .u-section-2 .u-icon-7 {
    width: 30px;
    height: 30px;
  }

  .u-section-2 .u-btn-7 {
    font-size: 0.625rem;
    padding: 6px 57px 7px 56px;
  }

  .u-section-2 .u-icon-8 {
    width: 30px;
    height: 30px;
  }

  .u-section-2 .u-btn-8 {
    font-size: 0.625rem;
    padding: 6px 54px 7px;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 24px;
  }
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before,
.u-section-2 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-btn-9,
.u-section-2 .u-btn-9:before,
.u-section-2 .u-btn-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-9.u-btn-9.u-btn-9:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-btn-9 {
  border-color: transparent !important;
}

.u-section-2 .u-btn-9.u-btn-9.u-btn-9.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-btn-9 {
  border-color: transparent !important;
} .u-section-3 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(2, 157, 67, 0.8), rgba(2, 157, 67, 0.8)), url('/images/Pngtreewhitesimpletexturebackground_1323742-22.jpg');
  background-size: cover, cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 679px;
}

.u-section-3 .u-text-1 {
  font-family: Poppins;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 900;
  transition-duration: 1s;
  font-size: 3rem;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 29px 0 0;
}

.u-section-3 .u-text-2 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 45px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 57px;
  margin-bottom: 48px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 377px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 27px;
}

.u-section-3 .u-text-3 {
  font-family: Poppins;
  font-weight: 800;
  transition-duration: 1s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 3rem;
  font-family: Poppins;
  font-weight: 900;
  width: 245px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 73px auto 0;
}

.u-section-3 .u-text-5 {
  width: 254px;
  font-family: Poppins;
  font-weight: 500;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -20px auto 0;
}

.u-section-3 .u-text-6 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 1.125rem;
  margin: 22px 21px 0 45px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 377px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0 27px;
}

.u-section-3 .u-text-7 {
  font-family: Poppins;
  font-weight: 800;
  transition-duration: 1s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  font-size: 3rem;
  font-family: Poppins;
  font-weight: 900;
  animation-timing-function: ease-in-out;
  width: 183px;
  transition-duration: 0.5s;
  text-shadow: 2px 2px 8px rgba(44,86,62,1);
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 73px auto 0;
}

.u-section-3 .u-text-9 {
  font-family: Poppins;
  font-weight: 500;
  width: 254px;
  font-size: 1.125rem;
  margin: 32px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 377px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 27px;
}

.u-section-3 .u-text-10 {
  font-family: Poppins;
  font-weight: 800;
  transition-duration: 1s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 0 auto;
}

.u-section-3 .u-text-11 {
  font-size: 3rem;
  font-family: Poppins;
  font-weight: 900;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 200px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 77px auto 0;
}

.u-section-3 .u-text-12 {
  font-family: Poppins;
  font-weight: 500;
  width: 254px;
  font-size: 1.125rem;
  margin: 28px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 79px;
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 311px;
  }

  .u-section-3 .u-text-5 {
    width: 253px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
    width: 253px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 311px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 311px;
  }

  .u-section-3 .u-text-12 {
    width: 253px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 50px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 344px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 27px 0 3px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 3px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 71px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: -7px;
    margin-right: 38px;
    margin-left: 22px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 12px;
    margin-right: 38px;
    margin-left: 22px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 344px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 29px;
    padding-bottom: 3px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 1px;
  }

  .u-section-3 .u-text-9 {
    width: 240px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 344px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 29px;
    padding-bottom: 3px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 1px;
  }

  .u-section-3 .u-text-11 {
    width: 180px;
  }

  .u-section-3 .u-text-12 {
    width: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-4 {
    font-size: 2.6666666666666665rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-8 {
    font-size: 2.6666666666666665rem;
  }

  .u-section-3 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-11 {
    font-size: 2.6666666666666665rem;
  }

  .u-section-3 .u-text-12 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1120px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 23px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 12px;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 313px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 27px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 51px;
  }

  .u-section-3 .u-text-4 {
    font-size: 3rem;
    margin-top: 27px;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    font-size: 0.875rem;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 331px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-3 .u-text-8 {
    font-size: 3rem;
    margin-top: 36px;
  }

  .u-section-3 .u-text-9 {
    font-size: 0.875rem;
    margin-top: 22px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 309px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 22px;
    padding-bottom: 27px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 46px;
  }

  .u-section-3 .u-text-11 {
    font-size: 3rem;
    margin-top: 32px;
  }

  .u-section-3 .u-text-12 {
    font-size: 0.875rem;
    margin-top: 16px;
  }
}

.u-section-3 .u-text-11,
.u-section-3 .u-text-11:before,
.u-section-3 .u-text-11 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-11.u-text-11.u-text-11:hover {
  transform: translateX(0px) translateY(-10px) !important;
}

.u-section-3 .u-text-11.u-text-11.u-text-11.hover {
  transform: translateX(0px) translateY(-10px) !important;
}

.u-section-3 .u-text-8,
.u-section-3 .u-text-8:before,
.u-section-3 .u-text-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-8.u-text-8.u-text-8:hover {
  transform: translateX(0px) translateY(-10px) !important;
}

.u-section-3 .u-text-8.u-text-8.u-text-8.hover {
  transform: translateX(0px) translateY(-10px) !important;
}

.u-section-3 .u-text-4,
.u-section-3 .u-text-4:before,
.u-section-3 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-4.u-text-4.u-text-4:hover {
  transform: translateX(0px) translateY(-10px) !important;
}

.u-section-3 .u-text-4.u-text-4.u-text-4.hover {
  transform: translateX(0px) translateY(-10px) !important;
}

.u-section-3 .u-text-5,
.u-section-3 .u-text-5:before,
.u-section-3 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-5.u-text-5.u-text-5:hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-3 .u-text-5.u-text-5.u-text-5.hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-3 .u-text-3,
.u-section-3 .u-text-3:before,
.u-section-3 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-3.u-text-3.u-text-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-3.u-text-3.u-text-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-7,
.u-section-3 .u-text-7:before,
.u-section-3 .u-text-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-7.u-text-7.u-text-7:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-7.u-text-7.u-text-7.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-10,
.u-section-3 .u-text-10:before,
.u-section-3 .u-text-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-10.u-text-10.u-text-10:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-10.u-text-10.u-text-10.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-1,
.u-section-3 .u-text-1:before,
.u-section-3 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(rgba(0, 43, 20, 1), rgba(0, 43, 20, 1)), url('/images/Pngtreewhitesimpletexturebackground_1323742-22.jpg');
  background-size: cover, cover;
}

.u-section-4 .u-sheet-1 {
  min-height: 835px;
}

.u-section-4 .u-text-1 {
  font-family: Poppins;
  font-weight: 800;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  transition-duration: 1s;
  font-size: 3rem;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 44px 0 0;
}

.u-section-4 .u-text-2 {
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 29px;
  margin-bottom: 45px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 641px;
}

.u-section-4 .u-container-layout-1 {
  padding: 12px 0;
}

.u-section-4 .u-form-1 {
  height: 596px;
  width: 600px;
  margin: 20px -15px -3px;
}

.u-section-4 .u-label-1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 1rem;
}

.u-section-4 .u-input-1 {
  --radius: 20px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 1rem;
  --color-var: #82cea2;
}

.u-section-4 .u-form-group-2 {
  margin-left: 0;
}

.u-section-4 .u-label-2 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 1rem;
}

.u-section-4 .u-input-2 {
  --radius: 20px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 1rem;
  --color-var: #82cea2;
}

.u-section-4 .u-label-3 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 1rem;
}

.u-section-4 .u-input-3 {
  --radius: 20px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 1rem;
  --color-var: #82cea2;
}

.u-section-4 .u-label-4 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 1rem;
}

.u-section-4 .u-input-4 {
  --radius: 20px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 1rem;
  --color-var: #82cea2;
}

.u-section-4 .u-form-group-5 {
  margin-left: 0;
}

.u-section-4 .u-label-5 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 1rem;
}

.u-section-4 .u-input-5 {
  --radius: 20px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 1rem;
  --color-var: #82cea2;
}

.u-section-4 .u-btn-1 {
  width: 100%;
  background-image: none;
  border-style: solid;
  font-family: Poppins;
  font-weight: 600;
  --radius: 20px;
  font-size: 1rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 12px 0 13px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 641px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 30px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
  padding: 6px;
}

.u-section-4 .u-text-3 {
  font-weight: 900;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-4 .u-text-4 {
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-4 .u-text-5 {
  font-family: Poppins;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 900;
  margin: 50px 0 0;
}

.u-section-4 .u-text-6 {
  font-family: Poppins;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-7 {
  font-family: Poppins;
  font-size: 1.875rem;
  font-weight: 900;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 61px 0 0;
}

.u-section-4 .u-text-8 {
  font-family: Poppins;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 51px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 51px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 345px;
  }

  .u-section-4 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
    width: 470px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 529px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 348px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 264px;
  }

  .u-section-4 .u-form-1 {
    width: 360px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 261px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1413px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 29px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 396px;
  }

  .u-section-4 .u-form-1 {
    margin: 0 auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 164px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1109px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-top: 25px;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.625rem;
    margin-top: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 30px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-form-1 {
    height: 446px;
    margin-top: -7px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-label-1 {
    font-size: 0.625rem;
  }

  .u-section-4 .u-input-1 {
    height: 30px;
    font-size: 0.625rem;
  }

  .u-section-4 .u-label-2 {
    font-size: 0.625rem;
  }

  .u-section-4 .u-input-2 {
    height: 30px;
    font-size: 0.625rem;
  }

  .u-section-4 .u-label-3 {
    font-size: 0.625rem;
  }

  .u-section-4 .u-input-3 {
    height: 30px;
    font-size: 0.625rem;
  }

  .u-section-4 .u-label-4 {
    font-size: 0.625rem;
  }

  .u-section-4 .u-input-4 {
    font-size: 0.625rem;
  }

  .u-section-4 .u-label-5 {
    font-size: 0.625rem;
  }

  .u-section-4 .u-input-5 {
    height: 30px;
    font-size: 0.625rem;
  }

  .u-section-4 .u-btn-1 {
    font-size: 0.625rem;
    padding-top: 4px;
    padding-bottom: 5px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 507px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 16px;
    padding-bottom: 14px;
  }

  .u-section-4 .u-text-4 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-6 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-8 {
    font-size: 0.875rem;
  }
}

.u-section-4 .u-text-1,
.u-section-4 .u-text-1:before,
.u-section-4 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}